@using Dominio
@model List<Resena>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10">
            <h1>Reseñas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            @if (ViewBag.mensaje != null)
            {
                <div class="alert alert-warning">
                    <div>
                        @ViewBag.Mensaje
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10 my-3 mx-1">
            <a href="~/Resena/CrearResena" class="btn btn-info">Crear reseña</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Título</th>
                        <th>Partido</th>
                        <th>Contenido</th>
                        <th>Periodista</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr><td class="text-center" colspan="5"><span>Aún no hay reseñas para mostrar.</span></td></tr>
                    }
                    else
                    {
                        @foreach (Resena r in Model)
                        {
                            <tr>
                                <td>@r.Id</td>
                                <td>@r.Fecha.ToShortDateString()</td>
                                <td>@r.Titulo</td>
                                <td>
                                    <a href="~/Partido/VerPartido/@r.Partido.Id">
                                        <span>@r.Partido.TituloToString()</span>
                                    </a>
                                </td>
                                <td>
                                    <a href="~/Resena/VerResena/@r.Id">
                                        <span>Ver</span>
                                    </a>
                                </td>
                                <td>@r.Periodista.Nombre</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


