@using Dominio
@model Periodista

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10">
            <h1>Perfil de usuario</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            @if (ViewBag.mensaje != null)
            {
                <div class="alert alert-warning">
                    <div>
                        @ViewBag.Mensaje
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            <span class="name">@Model.Nombre @Model.Apellido</span>
        </div>
        <div class="col-12 col-sm-10">
            <span class="mail">@Model.Mail</span>
        </div>
        <div class="col-12 col-sm-10">
            <span class="name">@Model.Nombre @Model.Apellido</span>
        </div>
    </div>
</div>


