@using Dominio
@model List<Partido>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12">
            <h1>Partidos finalizados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="form-content">
                <h5>Filtrar partidos a partir del mail del periodista:</h5>
                <form class="form-inline" method="post" action="~/Partido/PartidosExpulsionesPorMail/">
                    <div class="form-group m-2">
                        <label for="txtMail">Fecha hasta</label>
                        <input id="txtMail" type="email" name="mail" class="form-control" />
                    </div>
                    <button class="btn btn-success m-2" type="submit">Filtrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            @if (ViewBag.mensaje != null)
            {
                <div class="alert alert-warning">
                    <div>
                        @ViewBag.Mensaje
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-sm-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Local</th>
                        <th>Visitante</th>
                        <th>Fecha</th>
                        <th>Resultado</th>
                        <th>Incidentes</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr><td class="text-center" colspan="6"><span>Sin coincidencias para mostrar.</span></td></tr>
                    }
                    else
                    {
                        @foreach (Partido p in Model)
                        {
                            <tr>
                                <td>@p.Id</td>
                                <td>@p.Local</td>
                                <td>@p.Visitante</td>
                                <td>@p.Fecha.ToShortDateString()</td>
                                <td>@p.Resultado</td>
                                <td>
                                    <a class="btn btn-link p-1" href="~/Incidente/IncidentePartido/@p.Id">
                                        <span class="text">Ver</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


