@using Dominio
@model List<Incidente>

@{ 
    string tituloPartido = Model[0].Partido.Local.Pais.Nombre + " vs " + Model[0].Partido.Visitante.Pais.Nombre;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>@tituloPartido</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Jugador</th>
                        <th>Incidente</th>
                        <th>Minuto</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Incidente i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            <td>@i.Jugador.Nombre.ToString()</td>
                            <td>@i.TipoIncidente.ToString()</td>
                            <td>@i.Minuto</td>
                            <td>
                                <a class="btn btn-link p-1" href="~/Partido/Index/@i.Partido.Id">
                                    <span class="text">Ver Partido </span>
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


