@using Dominio
@model List<Jugador>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10">
            <h1>Jugadores expulsados en el torneo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-10">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Pais</th>
                        <th>Posición</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr><td class="text-center" colspan="5"><span>Aún no hay jugadores expulsados para mostrar.</span></td></tr>
                    }
                    else
                    { 
                        @foreach (Jugador j in Model)
                        {
                            <tr>
                                <td>@j.Id</td>
                                <td>@j.Nombre</td>
                                <td>@j.FechaNacimiento.ToShortDateString()</td>
                                <td>@j.Pais.Nombre</td>
                                <td>@j.Posicion</td>
                            </tr>
                        }
                    }

                    </tbody>
            </table>
        </div>
    </div>
</div>


