@using Dominio
@model List<Jugador>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Sección de jugadores</h1>
            </div>
            <div class="col-12 col-sm-10">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col-12 col-sm-10">
                            <h4>Opciones de filtrado</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <a href="~/Jugador/Expulsados" class="btn btn-link">
                                <span>Expulsados</span>
                            </a>
                        </div>
                        <div class="col-4 col-sm-3">
                            <a href="~/Jugador/Expulsados" class="btn btn-link">
                                <span>Opcion 2</span>
                            </a>
                        </div>
                        <div class="col-4 col-sm-3">
                            <a href="~/Jugador/Expulsados" class="btn btn-link">
                                <span>Opcion 2</span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Pais</th>
                            <th>Posición</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Jugador j in Model)
                        {
                            <tr>
                                <td>@j.Id</td>
                                <td>@j.Nombre</td>
                                <td>@j.FechaNacimiento.ToShortDateString()</td>
                                <td>@j.Pais.Nombre</td>
                                <td>@j.Posicion</td>
                                <td style="display: grid;grid-template: 1fr / 1fr 1fr;grid-gap: 5px;">
                                    <a class="btn btn-warning p-1" href="~/Jugador/EditarPersona/@j.Id" style="width:34px;height:34px;">
                                        <i class="fas fa-edit" style="font-size:15px;"></i>
                                    </a>
                                    <a class="btn btn-danger p-1" href="~/Jugador/EditarPersona/@j.Id" style="width:34px;height:34px;">
                                        <i class="fas fa-trash" style="font-size:15px;"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
     </div>


